<div class="h-screen flex-col flex bg-sky-100">
  <!--Header-->
  <div class="flex items-center justify-center py-4 bg-gradient-to-t from-slate-200 to-slate-50 ">
    <div>
      <img class="h-[16px] w-auto cursor-pointer" src="assets/logo.png"/>
    </div>
    <div class="font-bold text-base ml-2">Logo Here</div>
  </div>

  <!--Content-->
  <div class="grow container mx-auto py-5">
    <div class="flex flex-col">
      <div class="font-bold text-xl">ChatBox</div>
      <div class="my-3 bg-white">
        <!--Name-->
        <div class="bg-sky-600 flex items-center py-2 px-4">
          <div class=""><img class="h-[50px] w-auto cursor-pointer" src="assets/profile.png"/></div>
          <div class="text-white font-bold text-lg ml-4">Jamie</div>
        </div>
        <!--Text-->
        <div #textbox class="grow px-8 py-2 h-full overflow-y-auto min-h-[180px] max-h-[180px]">
          <div *ngFor="let message of messageHistory" id="{{'section_'+message.id}}"
               class="{{message.user === 'Jamie' ? '':'grid justify-items-end'}}">
            <div class="font-bold">{{message.user}}</div>
            <div class="py-2 px-4 bg-sky-100 w-fit">{{message.message}}</div>
            <div class="text-gray-400 text-[12px]">{{message.date | date : 'dd/m/yyyy HH:mm:ss'}}</div>
          </div>
          <div id="bottom" class="p-1">

          </div>
          <div *ngIf="messageHistory.length === 0" class="py-14">

          </div>
        </div>
        <!--Input-->
        <nz-divider></nz-divider>
        <div class="px-8 py-2">
          <textarea nzBorderless nz-input placeholder="Type a message..." class="p-0" [(ngModel)]="text"
                    [nzAutosize]="{ minRows: 2, maxRows: 2 }"></textarea>
          <div class="flex justify-end">
            <button (click)="chat()"
                    class="bg-sky-600 text-white py-2 px-8 flex items-center justify-center gap-2 rounded-lg cursor-pointer">
              <div><img class="h-[16px] w-auto cursor-pointer" src="assets/send.png"/></div>
              <div class="font-bold">Send</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---Footer--->
  <div class="py-4 text-gray-400 text-sm bg-sky-900 flex items-center justify-center">
    © 2023 Copyrights. All rights reserved.
  </div>
</div>
